* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

header {
  padding:3%;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}

#explanationDiv{
  width: 100%;
  padding-right: 50px;
}

.landingList {
  display: table;
  margin-bottom: 50px;
}

.landingList li {
  display: table-cell;
}

.landingList p {
    display: block;
    text-align: center;
    margin: 0 50px;
}

img{
  max-width: 500px;
  max-height: 250px; 
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 950px){
#explanationDiv{
  width: 100%;
  padding: 0px;
}

.landingList p {
  margin: 0 0px;
  margin-bottom: 15px;
  display: inline-block;
  text-align: left;
}
.landingList li {
  display: table;
}
}

button {
  cursor: pointer;
}