* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

.lander{
  margin-top: -80px;
}
.anonymous{
  margin-top: 20px;
}

.landingLogo{
  max-width: 550px;
  width: 100%;
  height: 100%;
}


section:nth-child(even) {
  background-color: #ddd;
}


.loginSection {
  margin-top: -30px;
  border-bottom: 3px solid #381057;
  border-radius: 20px;
  box-shadow: 0px 10px 20px #381057;
}


#explanationDiv{
  width: 100%;
}


input{
  height: 30px;
  border: 1px solid black;
  font-weight: bolder;
}


label{
  color: #381057;
  font-weight: bolder;
}


.explanationSection{
  border-bottom: 3px solid #381057;
  border-radius: 20px;
  box-shadow: 0px 10px 20px #381057;
}


.registerFormDiv{
  margin-bottom: 50px;
}


.landingList {
  display: table;
  margin-bottom: 50px;
  padding-left: 0;
  margin: auto;
}


.landingList li {
  display: table-cell;
  padding: 5px;
}


.landingList p {
  display: block;
  text-align: center;
  margin: auto;
}


@media screen and (max-width: 950px){
  #explanationDiv{
    width: 100%;
  }

  .landingList li {
  display: table;
  margin: 0 0px;
  margin-bottom: 15px;
  display: inline-block;
  text-align: left;
  }
}


button {
  cursor: pointer;
}


.message {
    padding: 12px 6px;
}


.message-success {
    background-color: #5CB85C;
    color: white;
    font-weight: bold;
    display: inline-block;
}


.message-error, .form-error {
    background-color: #d9534f;
    color: white;
    font-weight: bold;
    display: inline-block;
}


.form-error {
    margin: 0 6px;
    padding: 12px 6px;
    display: inline-block;
}