* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


body {
  font-family: "Open Sans",
  sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}


.postTitle{
  color: #dedcdb;
}


section {
  min-height: 200px;
  padding: 30px 15px;
  background-color: #bbb;
  margin-top: 25px;
}


.postedSection {
  margin-top: 125px;
  background-color: white;
}


section:nth-child(even) {
  background-color: #ddd;
}


.postParent{
  word-wrap: break-word;
  word-wrap: wrap;
  width: 100%;
}


.flexContainer1 {
  max-width: 1300px;
  display: flex;
  margin: auto;
  flex-direction: row;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background-color:rgb(38, 38, 38);
  border-radius: 20px;
  padding-bottom:50px;
  border: 3px solid #381057;
  box-shadow: 0px 1px 10px #000000;
}


.flexItem1 {
  width: 30%;
  height: 30%;
}


.flexImage{
  width: 100%;
  height: 100%;
  max-width: 750px;
  max-height: 750px;
}


.youtubeDiv{
  margin: auto;
  height: 500px;
  width: 650px;
}


@media screen and (max-width: 750px) { 
  .youtubeDiv { 
    height: 100%;
    width: 100%; 
  }
  h1.postTitle{
    font-size: 25px;
  }
}


.flexContainer2 {
  max-width: 1300px;
  display: flex;
  margin: auto;
  flex-direction: row;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  padding-top:50px;
  padding-bottom:50px;
}


.author{
  color: #aaa;
}


.commentDiv {
  text-align: left;
  background-color:white;
  color: black;
  border-radius: 10px;
  word-wrap: break-word
}


.commentSection {
  background-color:white !important;
}


#commentForm {
  border: 2px solid #5607bd ;
  border-radius: 5px;
  width: 400px;
  max-width: 100%;
  height: 50px;
  word-wrap: wrap;
  word-wrap: break-word;
  font-weight: bold;
  box-shadow: 0px 1px 10px #000000;
}


hr{
  border: 1px solid rgb(38, 38, 38);
  border-radius: 20px;
}


.comments{
  list-style-image: url(./listicon.png);
}


::-webkit-input-placeholder {
   text-align: center;
}


.source {
  color: white;
  text-decoration: none;
}


.source:visited{
  color: white;
  text-decoration: none;
}


.source:hover{
  color: #5607bd;
}