* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

main{
  margin-top: 65px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #aaa;
}

#navlogo{
  width: 100px;
  height: 50px;
}

.container {
  display: flex;
}

.container > li {
  flex: 1;
  display: table;
}

header {
  padding: 15px 15px;
}

.postTitle{
  color: #dedcdb;
}

section {
  min-height: 200px;
  padding: 30px 15px;
  background-color: #bbb;
  margin-top: 25px;
}

.postedSection {
  border-radius: 20px;
  margin-top: 125px;
}

section:nth-child(even) {
  background-color: #ddd;
}

p {
  margin: 0 auto;
  max-width: 650px;
}

p + p {
  margin-top: 15px;
}

.logo p{
  display: inline;
}


.logoutSection p{
  display: inline;
}

button{
  font-size: 15px;
  padding: 10px;
  width: 100px;
}

.flexContainer {
  max-width: 1300px;
  display: flex;
  margin: auto;
  flex-direction: row;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background-color:rgb(38, 38, 38);
  border-radius: 20px;
/*  padding-top:10px;*/
  padding-bottom:50px;
/*  margin-top: 100px;*/
}
.flexItem1 {
  width: 30%;
  height: 30%;
}

.flexImage{
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 500px;
}

.commentSection {
  text-align: left;
}

#commentForm {
  width: 400px;
  max-width: 100%;
  height: 50px;
  word-wrap: wrap;
}

::-webkit-input-placeholder {
   text-align: center;
}
